.idea
.flutter-plugins
.packages
.metadata
build patches
release/*.apk
release/*.ipa
release/*.dmg
release/*.zip
/android/.gradle
/android/key.properties
/android/local.properties
/android/gen
/images/svgcleaner/svgcleaner
.dart_tool/
.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
