.idea
.flutter-plugins
.packages
.metadata
.dart_tool/
.flutter-plugins-dependencies
pubspec.lock
pubspec.yaml
build
images/svgcleaner/svgcleaner
lib/utils/CompatUtils.dart
release/MusicControl-v*
release/manual_test.txt
release/win-report.xml
release/config
release/deploy.*
android/.gradle
android/key.properties
android/local.properties
android/gen
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Podfile
macos/Flutter/ephemeral
macos/Podfile
*.iml
android/*.iml
doc
