.idea
.flutter-plugins
.packages
.metadata
build patches
release/*-release.*
/android/.gradle
/android/key.properties
/android/local.properties
/android/gen
/images/svgcleaner/svgcleaner
.dart_tool/
.flutter-plugins-dependencies
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
